.vagrant
*.temp

# Customized yaml files
# Comment this life to allow pushing your custom yaml files
config/*.yaml

# HTML Folder Section
# Comment this section to allow pushing your custom html contents
html/*
!html/default
!html/default/*
!html/test
!html/test/*
!html/index.html
# End HTML Folder Section

# Apache2 Sites Section
# Comment this section to allow pushing your custom sites
config/apache2/sites/*
!config/apache2/sites/default.conf
!config/apache2/sites/test.conf
# End Apache2 Sites Section

# Custom Scripts Section
# Comment this section to allow pushing your custom scripts
scripts/*
!scripts/.gitkeep
# End Custom Scripts Section

# Avoid pushing plugins to git
plugins/*
!plugins/.gitkeep
# End Avoid pushing plugins to git
